# LORDBASEX: install

# Version=RHEL7
# Action
install

# Use text mode install instead of graphical
text

# Reboot after installation
reboot

# System authorization information
auth --enableshadow --passalgo=sha512

# installation source
url --url=http://161.35.188.89/issabel4/

# Firewall disabled (iptables)
firewall --disabled

# SELinux disabled
selinux --disabled

# Do not run the Setup Agent on first boot
firstboot --disable

# Disk to install to.  On SmartArray systems, this will be 'cciss/c0d0'.  On
# IDE systems, it will be 'hda'.  On SCSI/SATA systems, it will be 'sda'.
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.utf8

# Network information
network  --bootproto=dhcp --device=ens18 --ipv6=auto --activate
network  --hostname=localhost.issabel

# Installation logging level
logging --level=info

# Root password
rootpw --iscrypted $1$fx1YBs/i$y4PpEKKv7LRAPm3XIJGgi0

# System services
services --disabled="chronyd"

# System timezone
timezone America/New_York --isUtc --nontp

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm


# Partition clearing information
clearpart --all --initlabel --drives=sda

# install packages
%packages
@Core
wget
vim
screen
mc
net-tools

%end

%post --log=/var/log/issabel-ks.cfg

mkdir -p /root/.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCnx0Tpk16UACe4OaRzrVlkIPcBbe4mIjEkOykifrm9gSQvNcngHmPStUocp7rgnLQ4NkCPTzGuNT8tYNZy91pGg2VByycVDX/6KGZFyxo3R5YkRc/yxxRuTcgwJDRC6FajHsfzICrQLaPBPpyM+clg8GgcqUUWyj7wA93jr+7HH+FcZNF0YxTxM+X5VuFpbZRMEEskdnbqhI/bVDCzYv1Zjav6d8xf1EX41qwIlo+1PM2oWtmnlQpoA9KHfD6Zf9pThFBP+SY5aXF1t6j3qCNvVoP8hoNFO/GGrJIMtBrQRl5ipMhYBnjK+qPW1kxZOcmCjSG4j4QyL773iDIU6BND lightingsystem@localhost" > /root/.ssh/authorized_keys
systemctl enable sshd.service

%end

reboot
